FirstWCFService/ConsApp/Service References/ServiceReference1/FirstWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FirstWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3078/FirstWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3078/FirstWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFirstWCFService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_First_InputMessage">
    <wsdl:part name="parameters" element="tns:First" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_First_OutputMessage">
    <wsdl:part name="parameters" element="tns:FirstResponse" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_Second_InputMessage">
    <wsdl:part name="parameters" element="tns:Second" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_Second_OutputMessage">
    <wsdl:part name="parameters" element="tns:SecondResponse" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_Third_InputMessage">
    <wsdl:part name="parameters" element="tns:Third" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_Third_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThirdResponse" />
  </wsdl:message>
  <wsdl:portType name="IFirstWCFService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWCFService/DoWork" message="tns:IFirstWCFService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWCFService/DoWorkResponse" message="tns:IFirstWCFService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="First">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWCFService/First" message="tns:IFirstWCFService_First_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWCFService/FirstResponse" message="tns:IFirstWCFService_First_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Second">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWCFService/Second" message="tns:IFirstWCFService_Second_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWCFService/SecondResponse" message="tns:IFirstWCFService_Second_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Third">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWCFService/Third" message="tns:IFirstWCFService_Third_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWCFService/ThirdResponse" message="tns:IFirstWCFService_Third_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFirstWCFService" type="tns:IFirstWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IFirstWCFService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="First">
      <soap:operation soapAction="http://tempuri.org/IFirstWCFService/First" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Second">
      <soap:operation soapAction="http://tempuri.org/IFirstWCFService/Second" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Third">
      <soap:operation soapAction="http://tempuri.org/IFirstWCFService/Third" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FirstWCFService">
    <wsdl:port name="BasicHttpBinding_IFirstWCFService" binding="tns:BasicHttpBinding_IFirstWCFService">
      <soap:address location="http://localhost:3078/FirstWCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>